@using Microsoft.AspNetCore.Identity
@using Project_5.Areas.Identity.Data

@inject SignInManager<Project_5User> SignInManager
@inject UserManager<Project_5User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <span class="header-column">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark"><strong>Logout</strong></button>
        </form>
        <button id="options"><strong>Options</strong></button>
        <button id="save"><strong>Save</strong></button>
        <input type="checkbox" id="colorCheck" name="colorCheck" value="colorCheck">
        <label for="colorCheck">More Colors?</label>
        <input type="color" id="colors" name="colors">
        <input type="checkbox" id="rainbow" name="rainbow" value="rainbow">
        <label for="colorCheck">Rainbow</label>
        <input type="range" min="1" max="100" value="50" class="slider" id="rainbowSpeed" name="rainbowSpeed">
        <label for="rainbowSpeed">Speed</label>
    </span>
    <span class='header-column'>
        <span id='major'><strong>Major: </strong><var>$studentMajor</var></span><br>
        <span id='minor'><strong>Minor: </strong><var>$studentMinor</var></span>
    </span>
    <span class='header-column'>
        <span id='student'><strong>Student: </strong><var>@UserManager.GetUserName(User)</var></span><br>
        <span id='catalog'><strong>Catalog: </strong><var>$catalogYear</var></span>
    </span>
}
else
{
    <span class="header-column">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">
            <strong>Register</strong>
        </a>

        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">
            <strong>Login</strong>
        </a>
    </span>
    <!--<li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>-->
}
