@{
	@using Microsoft.AspNetCore.Identity
	@using Project_5.Areas.Identity.Data
	@using Microsoft.EntityFrameworkCore;
	@using NuGet.Packaging.Signing;
	@using Project_5.Project5.Models;
	@using System.Collections;
	@using System.Linq;
	@inject SignInManager<Project_5User> SignInManager

	@inject UserManager<Project_5User> UserManager

    ViewData["Title"] = "Home Page";
	var thePlan = "";
}

<head>
	<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>-->
	<script src="~/js/style.js"></script>
	<script src="~/js/app.js"></script>
	<title>Academic Planning Environment</title>
	<link rel="stylesheet" href="~/css/app.css">
	<link rel="shortcut icon" href="https://ape.cedarville.edu/img/favicon.ico">
	<meta name="viewport" content="width=device-width, height=device-height initial-scale=1">
	<meta charset="utf-8">
</head>
<body>
	@{
		var plans = new ArrayList();
		var subjects = new ArrayList();
		var subjectTypes = new ArrayList();
		var planCourses = new ArrayList();
		var planCourseTerms = new ArrayList();
		var planCourseYears = new ArrayList();
		var requirements = new ArrayList();
		var Q = new GetQuery();
		var u = @UserManager.GetUserId(User);

		plans = Q.planIds(u);
		string defaultID = (string)plans[0];

		if(defaultID != null)
		{
			string planName = Q.planName(defaultID);
			int catalogYear = Q.catalogYear(defaultID);
			subjects = Q.subjects(int.Parse(defaultID));
			subjectTypes = Q.subjectTypes(int.Parse(defaultID));

			planCourses = Q.planCourses(defaultID);
			planCourseTerms = Q.planCourseTerms(defaultID);
			planCourseYears = Q.planCourseYears(defaultID);
			requirements = Q.requirements(catalogYear, subjects, subjectTypes);
		}
	}
		<div class="grid-container">
			<div class="grid-item" id="ul-container">
				<div class="section-header">
					<h2>
						<!-- this needs to be centered-->
						Requirements
					</h2>
				</div>
				<div id="accordion">
					<p>Core Classes</p>
					<div class="core">
						<p>Time to deliver some pizza</p>
					</div>
					<p>Track</p>
					<div class="track">
						<p>Choo Choo<br>I SAID CHOO CHOO</p>
					</div>
					<p>Required Cognates</p>
					<div class="cognates">
						<p>brain moment</p>
					</div>
					<p>Gen Eds</p>
					<div class="geneds">
						<p>The general shibang</p>
					</div>
				</div>
			</div>
			<div class="grid-item" id="ur-container">
				<div class="section-header" id="schedule-header">
					<h2>Academic Plan: My Plan</h2>
				</div>
				<div class="schedule-container">
					No years loaded.
				</div>
				<div class="schedule-ui">
					<button>Open Notes</button><button>Delete Year</button><button>Add Year</button>
					<FORM method='post' action='project4.php'>
						<label for='planSelect'>Plan</label>
						<select name='planSelect' id='planSelect' class='planSelect' onchange='this.form.submit()'>
							<option value=''></option>
							
							<option value="">
							</option>
						</select>
					</FORM>
				</div>
			</div>
			<div class="grid-item" id="ll-container">
				<div class="navigation">
					<div class="section-header">
						<h2>
							Navigation
						</h2>
					</div>
					<label for="year">Year</label>
					<select name="year" id="year" class="cars"></select>

					<label for="make">Make</label>
					<select name="make" id="make" class="cars" disabled></select>
					<label for="model">Model</label>
					<select name="model" id="model" class="cars" disabled></select>

					<ul class="validation-courses">
						<li><a href="/">Course Page</a></li>
						<li><a href="../../~mcgraw/cs3220.html">Andrew McGraw</a></li>
						<li><a href="../../~hubble/cs3220.html">Ian Hubble</a></li>
						<li><a href="../cs3220.html">Jackson Isenhower</a></li>
					</ul>
				</div>
			</div>
			<div class="grid-item" id="lr-container">
				<p id="showing" class="right-float">
					Loading...
				</p>
				<h3 class="left-float">
					Course Finder
				</h3>
				<div class="block-container">
					<form action="http://judah.cedarville.edu/echo.php" method="post">
						Search: <u id='clear'>(clear)</u> <input type="text" id="search" name="search">
						<input type="submit" value="Submit">
					</form>
				</div>
				<div class="table">
					<table id=courselist>
						<tr>
							<td>Name</td>
							<td>Title</td>
							<td>Cred</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>